.container{
    margin: auto;
    width: 30%;
    line-height: 30px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 1rem;
    margin-top: 2rem;
}
.login_form{
    display: grid;
    margin: auto;
    /* padding-top: 1rem; */
}
.top_content,.label{
    text-align: left;
    font-weight: 500;
    padding-left: 3rem;
}
.top_content,h1,h2,p{
    text-align: left;
    padding-left: 2rem; 
}
.input{
    height: 2rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 20px;
    
    width: 80%;
    margin:auto;
}

.btn{
    height: 2rem;
    background-color: black;
    border-radius: 50px;
    color: white;
    width: 80%;
    margin:auto;
}
